:root {
  --navigation-color: #969490;
  --hover-color: #e57a7a;
  --default-font-family: "Raleway", sans-serif;
}
body {
  background-image: url("/images/bg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}
h1,
h2,
h3 {
  font-family: var(--default-font-family);
  color: white;
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
  transition: all 1s ease-in-out;
}
h1 {
  font-size: 85px;
}
h2 {
  font-size: 65px;
}
a {
  text-decoration: none;
  /* color: var(--anchor-color); */
  color: white;
}

/*homepage*/

.item-container {
  display: flex;
  flex-direction: column;
  margin-top: 40vh;
  margin-bottom: 40vh;
  position: relative;
}
#profile-image,
#works-image,
#contact-image {
  display: none;
  width: 370px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

#profile-image {
  margin-top: -100px;
}
h1:hover #profile-image {
  display: block;
  opacity: 0.4;
}
#works-image {
  margin-top: 76px;
}
h2:hover #works-image {
  display: block;
  opacity: 0.4;
}
#contact-image {
  margin-top: 210px;
}
h2:hover #contact-image {
  display: block;
  opacity: 0.4;
}
.portfolio-project-link {
  color: var(--navigation-color);
  margin: 0 auto;
  margin-top: 100px;
}

/*headers,footers*/

.footer,
.header {
  transition: all 1s ease-in-out;
}

.footer .active a,
.header .active a {
  color: whitesmoke;
  text-decoration: underline;
}
.header a {
  color: var(--navigation-color);
}
.header a:hover {
  color: var(--hover-color);
}
.footer a {
  color: var(--navigation-color);
}
.footer a:hover {
  color: var(--hover-color);
}
.header-menu-left {
  position: fixed;
  top: 60px;
  left: 45px;
}
.header-menu-right {
  position: fixed;
  top: 80px;
  right: 45px;
  transform: rotate(90deg);
}
.footer-menu-right {
  position: fixed;
  bottom: 60px;
  right: 45px;
}
.footer-menu-left {
  position: fixed;
  bottom: 80px;
  left: 45px;
  transform: rotate(-90deg);
}

/*about*/
.main-about {
  margin-top: 40vh;
  margin-bottom: 40vh;
}
.about-section h1 {
  font-size: 60px;
  line-height: 80%;
}
.about-section h2 {
  font-size: 20px;
}
.about-section p {
  font-size: 14px;
  font-family: var(--default-font-family);
  text-align: justify;
}
.projects-link {
  color: var(--navigation-color);
  font-weight: bolder;
}
.projects-link:hover {
  color: var(--hover-color);
}
.about-image {
  border-radius: 5px;
}

/*work*/

.work p {
  text-align: center;
}
.project-anchor {
  text-align: center;
}
.img-fluid {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: bottom;
}

/*contact*/

.contact-section h2 {
  font-size: 55px;
}
.email-link {
  text-align: center;
  font-size: 24px;
}
.contact-links a {
  text-align: center;
  margin: 20px 30px;
  font-size: 40px;
}
a:hover {
  color: var(--hover-color);
}

/*media-responsive*/

@media (max-width: 992px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
  }
  #profile-image {
    width: 200px;
    margin-top: -45px;
  }
  #works-image {
    width: 250px;
    margin-top: 53px;
  }
  #contact-image {
    width: 200px;
    margin-top: 150px;
  }

  .header-menu-left {
    top: 50px;
    left: 25px;
  }
  .header-menu-right {
    top: 50px;
    right: 25px;
  }
  .footer-menu-left {
    bottom: 50px;
    left: 25px;
  }
  .footer-menu-right {
    bottom: 50px;
    right: 25px;
  }
}
@media (max-width: 576px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 24px;
  }
  h1,
  h2 {
    line-height: 5;
  }
  .about-section h1 {
    font-size: 55px;
  }
  .contact-section h2 {
    font-size: 30px;
  }

  .item-container {
    margin-top: 20vh;
    margin-bottom: 30vh;
  }
  .projects-link {
    padding-bottom: 40px;
  }
  .portfolio-project-link {
    font-size: 12px;
  }
  .about-image {
    margin-top: 15px;
  }
  #profile-image {
    width: 180px;
    margin-top: 12px;
  }
  #works-image {
    width: 180px;
    margin-top: 170px;
  }
  #contact-image {
    width: 180px;
    margin-top: 295px;
  }
  .header-menu-left {
    top: 25px;
    left: 8px;
    font-size: 10px;
  }
  .header-menu-right {
    top: 30px;
    right: 8px;
    font-size: 10px;
  }
  .footer-menu-left {
    bottom: 30px;
    left: 8px;
    font-size: 10px;
  }
  .footer-menu-right {
    bottom: 25px;
    right: 8px;
    font-size: 10px;
  }
}
